<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sing In</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/bootstrap.css")
    <style>
        .vertical-center {
            min-height: 100%;
            min-height: 100vh;
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="center-block col-md-4 " style="margin-left: auto; margin-right: auto;">
                <div class="vertical-center">
                    <div class="panel-body">
                        <h3 class="panel-title">Registration</h3>
                        <form action="/Registration/Registrate" method="POST">
                            <div class="form-group">
                                <input class="form-control" id="name" placeholder="Name" name="name" type="text" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="login" placeholder="Login" name="login" type="text" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="email" placeholder="E-mail" name="email" type="email" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="password" placeholder="Password" name="password" type="password" autocomplete="off">
                            </div>
                            @if(ViewBag.Message != null)
                            {
                                <p style="color: red;">@ViewBag.Message</p>
                            }
                            <a href="/">Already have an account? </a>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#login').focus();
        });
        </script>
</body>
</html>
