<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration successful!</title>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/bundles/bootstrapcss")
@Styles.Render("~/bundles/styles")
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="center-block col-md-4 " style="margin-left: auto; margin-right: auto;">
                <div class="vertical-center">
                    <div class="panel-body">
                        <h3 class="panel-title">Registration successful!</h3>
                        <a href="/">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
